{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'table1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'xxx.css' %}">

</head>
<body class= "pic" background="{% static 'xxx.jpg' %}">
<h1 style="color:brown;text-align:center;font-size:50px">messages</h1>
     <h3>Send messages:</h3>
<table>
    <tr>
        <th>Message sender</th>
         <th>Message reciever name</th>
        <th>Message reciever</th>
        <th>subject</th>
        <th></th>

    </tr>
    {% for dd in ddd %}
    <tr>
				<td>{{dd.name}}</td>
                <td> {{dd.rec_name}} </td>
                <td> {{dd.email}} </td>
				<td> {{dd.msg}} </td>
                <td>
                    <button onclick="window.location.href = '{% url 'del_msg_admin' dd.id %}';">DELETE</button>
                </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>