{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD CHAPTER CONTENT</title>
    <link rel="stylesheet" type="text/css" href="{% static 'trt.css' %}">
</head>
<body class= "pic" background="{% static 'trt.jpg' %}">
<div align="center">
<form method="post" action="{% url 'add_chapter_c1' %}">
    {% csrf_token %}
    <h3>SELECT SUBJECT</h3>
    <table>
        <tr>
            <td>
                <select name="subj">
                    <option value="Nil" selected>Select subject</option>
                    {% for i in kk %}
                        <option value="{{i.Subject_title}}">{{i.Subject_title}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>
    <div align="center">
        <input type="submit" name="submit" value="submit">&nbsp&nbsp&nbsp&nbsp
        <input type="reset" name="cancel" value="cancel">&nbsp&nbsp&nbsp&nbsp
    </div>
</form>
</div>
</body>
</html>