{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'msg.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'studenthome.css' %}">

</head>
<body class=" pic" background="{% static 'banner.jpg' %}">
<div class="navbar">
  <div class="dropdown">
    <!--<button class="dropbtn">update profile<i class="fa fa-caret-down"></i></button>-->
      <a href="{% url 'adm_prof' %}">update profile</a>
        <div class="dropdown-content">
            <!--<a href="#">teacher</a>
            <a href="#">Student</a>-->
        </div>
  </div>

  <a href="{% url 'upl_cer' %}">upload certificate</a>
    <a href="{% url 'msgg_admin'%}"> view messages</a>
  <div class="dropdown">
    <button class="dropbtn">view<i class="fa fa-caret-down"></i></button>
    <div class="dropdown-content">
              <a href="#">Student</a>
              <a href="{% url 'teacher_book' %}">teacher</a>
    </div>
  </div>
              <a href="{% url 'sub' %}">subject details</a>
              <a href="{% url 'logout' %}"> logout</a>
    </div>
      <div>
    <h1>ADMIN HOME</h1>
</div>
<div align="center" style="color:blue;">
        {% if messages %}
            {% for msg in messages %}
                    {{ msg }}
            {% endfor %}
        {% endif %}
</div>
<section style="margin-left:auto;margin-right:auto;width:25%;margin-bottom:22px;position:relative;left:550px;">

    <h3  style="color:white">Message</h3>
    <div class="container">
            <form method="POST" action="{% url 'msg_admin' %}">
              {% csrf_token %}
                    <label >From</label>
                    <input type="text" name="femail" value="{{c}}" placeholder="Your email..">
                    <label >To</label>
                    <input type="text" name="email" placeholder="Your email..">
                    <label for="subject">Subject</label>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

                    <input type="submit" value="Submit">

            </form>
    </div>
</section>


</body>
</html>