{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'table1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'xxx.css' %}">

</head>
<body class= "pic" background="{% static 'xxx.jpg' %}">
<h1 style="color:red;font:;">Teacher booking Details</h1>
<table>
    <tr>
        <th>First Name</th>
        <th>Second Name</th>
        <th>email</th>
        <th>Password</th>
        <th></th>
    </tr>
    {% for i in gtt %}
    <tr>
                <td> {{ i.email}}</td>
                <td> {{ i.password}}</td>
                <td> {{ i.user_role}}</td>
                <td>
                    <button onclick="window.location.href = '{% url 'del_teacher' i.id %}';">DELETE</button>
                </td>
                  <td>
                    <button onclick="window.location.href = '{% url 'edit_teacher' i.id %}';">EDIT</button>
                </td>
    </tr>
    {% endfor %}



</body>
</html>